.nav-button {
  z-index: 4;
}

.nav-item-1 {
  background-color: rgba(60, 60, 60, 1);
  position: relative;  
  transform: translate3d(297%, 0px, 0px) scale3d(0.73, 0.73, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
  transform-style: preserve-3d;
  z-index: 1;
}

.nav-item-2 {
  background-color: rgba(90, 90, 90, 1);
  position: relative;  
  transform: translate3d(195%, 0px, 0px) scale3d(0.83, 0.83, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
  transform-style: preserve-3d;
  z-index: 2;
}

.nav-item-3 {
  background-color: rgba(120, 120, 120, 1);
  position: relative;  
  transform: translate3d(89%, 0px, 0px) scale3d(0.93, 0.93, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
  transform-style: preserve-3d;
  z-index: 3;
}
